@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.rate {
    display: inline-flex;
    font-family: Montserrat;
}

.rate-card {
    margin: 0.1vw;
    width: 20vw;
}

.rate-title,
.rate-price,
.rate-speed,
.rate-limite {
    display: flex;
    justify-content: center;
    text-align: center;
}

.rate-title,
.rate-price {
    color: #ffff;
}

.rate-speed,
.rate-limite {
    background-color: #f2f2f2;
    color: #1f1f1ffd;
    padding: 1vw;
}

.rate-title {
    padding: 1vw;
}

.rate-price {
    padding: 1.5vw;
}

.active {
    transform: scale(1.1);
}